<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451766970089-u7fslf2ns4l63mr83mdsajtgmc4coqt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451766970089-u7fslf2ns4l63mr83mdsajtgmc4coqt6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>451766970089-2e5mmh3lmlisve2fadc4kpbsvf50jfti.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTM3dInaqnZuwXGcjwEvVq5FJE6RZLNVk</string>
	<key>GCM_SENDER_ID</key>
	<string>451766970089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ourprint.app.ios</string>
	<key>PROJECT_ID</key>
	<string>ourprint</string>
	<key>STORAGE_BUCKET</key>
	<string>ourprint.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451766970089:ios:7e1aec56b17fc07e11b278</string>
	<key>DATABASE_URL</key>
	<string>https://ourprint.firebaseio.com</string>
</dict>
</plist>